@import "../utils";
.dropdownParent {
  margin-bottom: 45px;
}
.dropdown {
  width: 100%;
  border: none;
  border-radius: 6px;
  text-align: left;
  padding: 10px 40px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  + div {
    display: none;
    font-size: 24px;
  }

  &.active {
    + div {
      display: block;
      padding: 24px;
      border-radius: 0 0 6px 6px;
      min-height: calc(100% - 60px);
      color: $primary;
      background-color: $light-grey;
    }
    img {
      transform: unset;
    }
  }

  img {
    display: inline;
    height: 20px;
    width: auto;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1024px) {
  .dropdown {
    padding: 10px;
    + div {
      font-size: 12px;
    }
    img {
      height: 12px;
    }
  }
}
