@import "../utils";

details {
  margin-bottom: 45px;
  &[open] summary svg {
    transform: unset;
  }
  summary {
    list-style: none;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 10px 40px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    color: white;
    svg {
      transform: rotate(180deg);
    }
    + * {
      height: calc(100% - 59px);
      padding: 24px;
      border-radius: 0 0 6px 6px;
      color: $primary;
      background-color: $light-grey;
    }
  }
  summary::-webkit-details-marker,
  summary::marker {
    display: none;
  }
}

@media screen and (max-width: 1275px) {
  details summary {
    font-size: 12px;
    + * {
      font-size: 12px;
      padding: 10px;
      height: calc(100% - 35px);
    }
    svg {
      height: 12px;
    }
  }
}
