@import "../utils";
.logo {
  height: 55px;
  path {
    fill: $primary;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 130px;
  nav {
    font-size: 32px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      li:first-child {
        margin-right: 80px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 35px;
  }
  header {
    nav {
      font-size: 24px;
      ul {
        li:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    nav {
      font-size: 12px;
      text-transform: uppercase;
      ul {
        li:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .logo {
    height: 26px;
  }
}
