@import "../utils";

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  .carousel {
    grid-column: 1 / -1;
  }
  header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 24px;
    margin-bottom: 24px;
    h2,
    h3 {
      margin-right: 20px;
    }
    .details__location {
      color: $primary;
      font-weight: 500;
      margin-bottom: 25px;
    }
    .details__host-rate {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: fit-content;
      height: 100%;
      justify-self: end;
      .host {
        height: fit-content;
        display: flex;
        align-items: center;
        color: $primary;
        gap: 15px;
        text-align: end;
        p {
          width: min-content;
        }
        img {
          height: 85px;
          width: 85px;
          border-radius: 50%;
        }
      }
      .rating {
        position: absolute;
        bottom: 0;
        right: 0;
        width: max-content;
        .star {
          height: 48px;
          width: auto;
          margin-left: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1275px) {
  .details {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    font-size: 10px;
    column-gap: 50px;
    .tag {
      height: 18px;
      line-height: 18px;
      font-size: 10px;
      min-width: 84px;
      padding: 0 10px;
    }
    header {
      grid-template-columns: auto auto;
      h2,
      h3 {
        font-size: 18px;
      }
      .details__location {
        margin-bottom: 0;
      }
      .details__host-rate {
        .rating {
          bottom: -10px;
          right: calc(85px + 15px);
          .star {
            height: 18px;
            margin: 0 0 0 5px;
          }
        }
      }
    }
    details {
      font-size: 15px;
      summary {
        padding: 10px;
        svg {
          height: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
    header {
      grid-template-columns: auto;
      .details__host-rate {
        margin-top: 10px;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        .rating {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          .star {
            margin: 0 5px 0 0;
          }
        }
        .host {
          p {
            font-size: 12px;
          }
          img {
            height: 32px;
            width: 32px;
          }
        }
      }
    }
  }
}
